# .npmrc 文件是 npm（或 Yarn）的配置文件

# shamefully-hoist 设置为 true 时，pnpm 会尝试模仿传统的 npm 和 yarn 行为，将所有依赖项都安装在项目的根 node_modules 文件夹中，而不是将它们分散到各个子文件夹中
shamefully-hoist = true
# 当启用shell-emulator时， pnpm可以进行跨平台脚本编写。
shell-emulator=true