@mixin scrollBar {
	// 滚动条凹槽的颜色，还可以设置边框属性
	&::-webkit-scrollbar-track-piece {
		background-color: #f8f8f8;
	}
	// 滚动条的宽度
	&::-webkit-scrollbar {
		width: 9px;
		height: 9px;
	}
	// 滚动条的设置
	&::-webkit-scrollbar-thumb {
		min-height: 28px;
		background-color: #ddd;
		background-clip: padding-box;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #bbb;
	}
}
