/* 初始化样式
------------------------------- */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none !important;
}

:root {
	--next-color-white: #fff;
	--next-bg-main-color: #f8f8f8;
	--next-bg-color: #f5f5ff;
	--next-border-color-light: #f1f2f3;
	--next-color-primary-lighter: #ecf5ff;
	--next-color-success-lighter: #f0f9eb;
	--next-color-warning-lighter: #fdf6ec;
	--next-color-danger-lighter: #fef0f0;
	--next-color-dark-hover: #0000001a;
	--next-color-menu-hover: rgb(0 0 0 / 20%);
	--next-color-user-hover: rgb(0 0 0 / 4%);
	--next-color-seting-main: #e9eef3;
	--next-color-seting-aside: #d3dce6;
	--next-color-seting-header: #b3c0d1;
}

/* 主布局样式
------------------------------- */
.layout-container {
	width: 100%;
	height: 100%;

	.layout-aside {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		height: inherit;
		overflow-x: hidden !important;
		background: var(--next-bg-menu-bar);
		box-shadow: 2px 0 6px rgb(0 21 41 / 1%);

		.el-scrollbar__view {
			overflow: hidden;
		}
	}

	.layout-header {
		padding: 0 !important;
	}

	.layout-main {
		width: 100%;
		padding: 0 !important;
		overflow: hidden;
		background-color: var(--next-bg-main-color);
	}

  .layout-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: var(--color-primary);
    cursor: pointer;
    box-shadow: rgb(0 21 41 / 10%) 0 1px 4px;
    animation: logo-animation 0.3s ease-in-out;
  
    &-medium-img {
      width: 35px;
    }
  
    &-img {
      width: 30px;
      margin: auto;
    }
  
    &:hover {
      img {
        animation: logo-animation 0.3s ease-in-out;
      }
    }
  
    span{
      margin-left: 10px;
    }
  }

	%el-scrollbar {
		width: 100%;
	}
	// 此字段多次用到，建议不删除，如需修改，请重写覆盖样式
	.layout-view-bg-white {
		width: 100%;
		height: 100%;
		background: var(--el-color-white);
		border: 1px solid var(--el-border-color-light, #ebeef5);
		border-radius: 4px;
	}

	.layout-el-aside-br-color {
		border-right: 1px solid var(--el-border-color-light, #ebeef5);
	}

	// pc端左侧导航样式
	.layout-aside-pc-220 {
		width: 220px !important;
		transition: width 0.3s ease;
	}

	.layout-aside-pc-64 {
		width: 64px !important;
		transition: width 0.3s ease;
	}

	.layout-aside-pc-1 {
		width: 1px !important;
		transition: width 0.3s ease;
	}
	// 手机端左侧导航样式
	.layout-aside-mobile {
		position: fixed;
		top: 0;
		left: -220px;
		z-index: 9999999;
		width: 220px;
	}

	.layout-aside-mobile-close {
		left: -220px;
		transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
	}

	.layout-aside-mobile-open {
		left: 0;
		transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.layout-aside-mobile-mode {
		position: fixed;
		inset: 0;
		z-index: 9999998;
		height: 100%;
		background-color: rgb(0 0 0 / 50%);
		animation: error-img 0.3s;
	}

	.layout-scrollbar {
		@extend %el-scrollbar;

		padding: 15px;
	}

	.layout-mian-height-50 {
		height: calc(100vh - 50px);
	}

	.layout-columns-warp {
		display: flex;
		flex: 1;
		overflow: hidden;
	}

	.layout-hide {
		display: none;
	}
}

/* element plus 全局样式
------------------------------- */
.layout-breadcrumb-seting {
	.el-divider {
		background-color: rgb(230 230 230);
	}
}

